<!doctype html>
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
	<meta name="author" content="<%= data.humans.username %>">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%= _.capitalize(data.appname) %></title>

	<link type="text/plain" rel="author" href="humans.txt" /><% if (data.robots) { %>
	<meta name="robots" content="all"><% } %>

	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<!-- https://github.com/audreyr/favicon-cheat-sheet -->

	<meta name="description" content="">
	<meta name="keywords" content="">

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>

	<link rel="stylesheet" href="assets/css/core.css"><% if (data.modernizr) { %>
	<script src="assets/js/libs/modernizr.js"></script><% } %>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-XXXXXX-X');
		ga('send', 'pageview');
	</script>

</head>
<body data-base-url="">

	<div class="wrapper">

	</div>

	<% if (data.jquery) { %><script src="assets/js/libs/jquery.js"></script>
	<% } %><script src="assets/js/script.js"></script>

</body>
</html>
